
<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>Quero Minha Liminar</title>

    <!-- Favicons -->
  <link href="/images/QML-Favicon.png" rel="icon">
  <link href="/images/QML-Apple-icon.png" rel="apple-touch-icon">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/css/templatemo-seo-dream.css">
    <link rel="stylesheet" type="text/css" href="/css/animated.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.css">

    <link rel="stylesheet" type="text/css" href="/vendor/aos/aos.css">

    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/vendor/boxicons/css/boxicons.min.css">

    
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

https://api.whatsapp.com/send?phone=5519999999999&text=Olá!%20Estou%20interessado(a)%20em%20já%20garantir%20minha%20vaga%20no%20Revalida.%20Pode%20me%20explicar%20como%20funciona%20o%20serviço?
-->

</head>
<a id="wpp" href= "https://api.whatsapp.com/send?phone=5541991924560&text=Olá!%20Estou%20interessado(a)%20em%20já%20garantir%20minha%20vaga%20no%20Revalida.%20Pode%20me%20explicar%20como%20funciona%20o%20serviço?"
    target="_blank"
    style="position:fixed;bottom:30px;right:30px;">
    <svg enable-background="new 0 0 512 512" width="60" height="60" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z" fill="#4CAF50"/><path d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z" fill="#FAFAFA"/></svg>
</a>
<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a class="logo">
              <h4><img id="logoheader" src="/images/Logo/PNG/Logo_Quero Minha Liminar-36.png" alt="Logo Quero Minha Liminar"></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active"><i>Início</i></a></li>
              <li class="scroll-to-section"><a href="#features"><i>Como Funciona?</i></a></li>
              <li class="scroll-to-section"><a href="#depoimentos"><i>Depoimentos</i></a></li>
              <li class="scroll-to-section"><a href="#about"><i>Sobre Nós</i></a></li>
              <li class="scroll-to-section"><a href="#services"><i>Serviço</i></a></li>
              <li class="scroll-to-section"><a href="#contact"><i>Contato</i></a></li> 
              <div class="main-blue-button scroll-to-section"><a id="btn_header" href="#btn-liminar"><i>GARANTA SUA LIMINAR</i></a></div>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div id="pag-principal" class="row">
                    <div class="col-lg-12">
                      <h1><img id="arrow" src="/images/Elementos/elementos_Instagram_Quero Minha Liminar-19.png"><b>REVALIDA</b></h1>
                      <i><h2>chegando em agosto</h2></i>
                      <img src="/images/Elementos/elementos_Instagram_Quero Minha Liminar-20.png">
                    </div>
                  </div>
                    <div id="pag-principal2" class="col-lg-12">
                      <h3>E você ainda não sabe quando seu <span>diploma</span> vai ser expedido?</h3>
                    </div>
                    <div class="col-lg-12">
                      <div class="main-green-button scroll-to-section">
                        <a href="#btn-liminar">GARANTA SUA LIMINAR</a>
                      </div>
                      <div class="prova col-lg-8">
                        <img src="/images/Elementos/elementos_Instagram_Quero Minha Liminar-25.png">
                        <p id="prova">PARA SE INSCREVER </br>NA PROVA!</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img id="medicoInicio" src="/images/medico_incio.png" alt="" width="200px" height="700px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div id="pessoal" class="icon"></div>
                  <h4>Documento Pessoal</h4>
                  <div class="line-dec"></div>
                  <p>Vamos precisar do seu documento pessoal para entrar com a liminar na justiça brasileira.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Procuração</h4>
                  <div class="line-dec"></div>
                  <p>Precisaremos que você apenas assine uma procuração, para que possamos falar em seu nome dentro dos tramites legais.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div id="casa" class="icon"></div>
                  <h4>Comprovante de residência</h4>
                  <div class="line-dec"></div>
                  <p>É necessário comprovar residência em território brasileiro para que você consiga o seu CRM.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Certificado de conclusão de curso</h4>
                  <div class="line-dec"></div>
                  <p>Para conseguirmos a liminar que lhe dá direito a exercer a sua profissão em território brasileiro, é necessário que apresentemos o seu certificado de conclusão do curso de Medicina.</p>
                </div>
              </div>
              <div id="depoimentos" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- ======= Testimonials Section ======= -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonialBox">
            <div class="content">
              <div class="details">
                <div class="imgBx">
                  <img id="imgDepoimento" src="/images/Posts/af_posts_Instagram_Quero Minha Liminar-07.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonialBox">
            <div class="content">
              <div class="details">
                <div class="imgBx">
                  <img id="imgDepoimento" src="/images/Posts/af_posts_Instagram_Quero Minha Liminar-08.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonialBox">
            <div class="content">
              <div class="details">
                <div class="imgBx">
                  <img id="imgDepoimento" src="/images/Posts/af_posts_Instagram_Quero-Minha-Liminar_09.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--About us section Start-->
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img id="medicosSobreNos" src="/images/medicos.png" alt="">
          </div>
        </div>
        <div id="blocoSobreNos" class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div id="sobrenos" class="section-heading">
            <img src="/images/banner_sobre_nos.png">
            <div id="fundo_sobre_nos">
              <h2>NÓS CHEGAMOS PARA</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4 corrente">
              <div class="about-item corrente">
                <img src="/images/quebrando_correntes.png">
              </div>
            </div>
          </div>
          <div class="about">
            <div class="textoabout">
              <img src="/images/servico_de_qualidade.png">
            </div>
          </div>
          <div class="textoposabout col-lg-10">
            <p>
              A assessoria @querominhaliminar veio para ser a maior agência de auxílio ao estudante quando o assunto é a liminar para inscrição na prova do Revalida.
            </p>
            <img src="/images/Elementos/elementos_Instagram_Quero Minha Liminar-32.png">
          </div>  
      </div>
      </div>
    </div>
  </div>
<!--End About us section-->

  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Peça sua liminar com quem</h6>
            <h2><em>entende</em> do assunto.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <i id="ready" class='bx bx-customize bx-tada' ></i>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Quer deixar tudo pronto pra entrar com o seu processo?</h4>
                  <p>Faça seu cadastro, <b><span id="gente">A GENTE FAZ O RESTO!</span></b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <i id="result" class='bx bx-check-circle bx-tada' ></i>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Nosso compromisso é com o seu <span id="gente">RESULTADO</span></h4>
                  <p>Queremos eliminar burocracia, evitar enrolações e ir <b id="resultado">direto ao ponto</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <i id="watch" class='bx bx-stopwatch bx-tada bx-rotate-180' ></i>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>NÃO DEIXE PARA DEPOIS</h4>
                  <p>Resolva isso agora para conseguir <b id="resultado">sua liminar a tempo!</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <i id="doc" class='bx bxs-file bx-tada bx-rotate-180' ></i>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Quero minha liminar</h4>
                  <p><span id="revalida">vai te ajudar a conquistar sua inscrição no Revalida</span> mesmo sem ter o diploma em mãos!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div id="contact" class="contact-us section">
    <div id="btn-liminar" class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="/send" method="post">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <i><h2>Preencha o formulário abaixo e nós<span> Entraremos</span> em <em>contato</em></h2></i>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="name" name="name" id="name" placeholder="Nome completo" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="tel" name="telefone" id="surname" placeholder="(DDD) + Telefone" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Seu e-mail" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="text" name="city" id="city" placeholder="Cidade que reside no Brasil" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="text" name="cupom" id="cupom" placeholder="Cupom de indicação (opcional)">
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="text" name="meet" id="meet" placeholder="Como nos conheceu? (opcional)">
                    </fieldset>
                  </div>
                 <div class="col-lg-12">
                  <div class="d-flex third" required>
                    <input type="checkbox" id="checkbox3" name="check" required/>
                    <label for="checkbox3" required>Você concorda em compartilhar os seus dados com a Quero Minha Liminar e autoriza que a nossa equipe entre em contato quando necessário, através de e-mail e/ou telefone.</label>
                  </div>
                  </div> 
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button ">Cadastre-se já!</button>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="contact-info">
                  <ul>
                    <li>
                      <div class="icon">
                        <img src="/images/Elementos/email.png" alt="email">
                      </div>
                      <a target="blank" href="mailto:suporte@querominhaliminar.com.br">suporte@</br>querominhaliminar.com.br</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="/images/Elementos/telefone.png" alt="phone">
                      </div>
                      <a target="blank" href="https://api.whatsapp.com/send?phone=5541991924560&text=Olá!%20Estou%20interessado(a)%20em%20já%20garantir%20minha%20vaga%20no%20Revalida.%20Pode%20me%20explicar%20como%20funciona%20o%20serviço?">+55 (41)99192-4560</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 Quero Minha Liminar. Todos os Direitos Reservados. 
          
          <br>Editado por <a target="blank" href="https://instagram.com/fredyycarneiro" title="fredy">Fredy Carneiro</a> Design Gráfico por <a target="blank" href="https://instagram.com/diegodejezus" title="fredy">Diego de Jezus</a> </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/owl-carousel.js"></script>
  <script src="/js/animation.js"></script>
  <script src="/js/imagesloaded.js"></script>
  <script src="/js/custom.js"></script>
  

  <script src="/vendor/aos/aos.js"></script>
  <!-- <script> AOS.init({
    duration: 1200,})</script> -->
  

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 2,
      slideShadows: true,
    },
    loop: true,
    autoplay: {
          delay: 10000,
          disableOnInteraction: true
    }
    // pagination: {
    //   el: ".swiper-pagination",
    // },
  });
</script>

</body>
</html>